.sidebarChannel > h4 {
    display: flex;
    padding-left: 15px;
    align-items: center; 
    color: gray;
    cursor: pointer;
}

.sidebarChannel:hover > h4 {
    background-color: #2f3135;
    color: white;
}

.sidebarChannel__hash {
    font-size: 30px;
    padding: 8px;
}